:root {

    /*====== Font Family ======*/
    --font-main: 'Open Sans', sans-serif;

    /*====== Font Weights ======*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*====== Colors ======*/

    --color-hero: hsl(193, 100%, 96%);
    --color-footer-bg: hsl(192, 100%, 9%);
    --color-body-text: hsl(208, 11%, 55%);
    --color-button: hsl(322, 100%, 66%);
    --color-bg: rgb(255, 255, 255);
    --color-dark: rgb(0, 0, 0);


    /*====== Shadow ======*/
    --shadow-button: 0px 0px 8px rgba(53, 53, 53, 0.219);

}

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-body-text);
    /* background-color: var(--color-bg); */
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 100%;
    margin: 0px auto;
}
a {
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: var(--weight-semi-bold);
}
img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2 {
    font-weight: var(--weight-bold);
    color:var(--color-dark);
}

h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 25px;
}

p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}


/* ======= Header ======= */

header {
    max-width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.logo {
    flex: 1;
    font-size: 1rem;
}
.logo img {
    width: auto;
    height: 18px;
}
.header__button a {
    background-color: var(--color-bg);
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--color-dark);
    box-shadow: var(--shadow-button);
    
}


/* ======= Hero Section ======= */

.hero {
    min-height: 100px;
    max-width: 100%;
    padding: 0px 20px;
    /* background: #000; */
}

.two__columns {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: rgb(117, 101, 101); */
}

.two__columns > * {
    min-height: 100px;
}

.hero__content {
    /* background-color: red; */
    text-align: center;

}
.hero__content p {
    padding: 0px 10px;
    margin-bottom: 35px;
}
.hero__content__wrapper {
    margin: 80px 0px;
    /* background-color: yellowgreen; */
}

.button {
    color: var(--color-bg);
    background-color: var(--color-button);
    padding: 12px 70px;
    border-radius: 50px;
    box-shadow: var(--shadow-button);
}

.hero__image__bg {
    background-color: var(--color-hero);
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-position: center; */

}

/* ======= Card Sections ======= */


.card__container {
    /* background-color: red; */
    margin: 50px 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-button);
}

.card__columns {
    min-height: 500px;
    display: flex;
    flex-direction: column;
} 

.card__columns > * {
    flex: 1;
    text-align: center;
    padding: 50px 30px;
}
.main__image {
    padding: 50px 30px 0px 30px;
}
.main__content h2 {
    margin-bottom: 15px;;
}






/* ====== Sign Up Box ====== */


.signup__container{
    background-color: yellowgreen;
    min-height: 500px;
}

.signup__box {
    background-color: var(--color-bg);
    min-height: 100px;
    padding: 40px 0px 60px 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: var(--shadow-button);
    margin: 0px 10px;
}

.signup__box h2 {
    font-size: 1.17rem;
}










.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}