:root {
    /*====== Font Family ======*/
    --font-main: 'Open Sans', sans-serif;

    /*====== Font Weights ======*/
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /*====== Colors ======*/

    --color-hero: hsl(193, 100%, 96%);
    --color-footer-bg: hsl(192, 100%, 9%);
    --color-body-text: hsl(208, 11%, 55%);
    --color-button: hsl(322, 100%, 66%);
    --color-button-hover: hsl(322, 89%, 72%);
    --color-bg: rgb(255, 255, 255);
    --color-dark: rgb(0, 0, 0);

    /*====== Shadow ======*/
    --shadow-button: 0px 0px 8px rgba(53, 53, 53, 0.11);

    /*====== Shadow ======*/
    --margin-center: 0px auto;

    /*====== Width ======*/
    --width-maximum: 1300px;

}

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-body-text);
    font-family: var(--font-main);
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 100%;
    margin: var(--margin-center);
}
a {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 2.2rem;
    font-weight: var(--weight-semi-bold);
    color: var(--color-bg);
}
img {
    display: block;
    width: 100%;
    height: auto;
}
ul, li {
    list-style: none;
    color: var(--color-body-text);
}
i {
    font-size: 2rem;
}
h1, h2 {
    font-weight: var(--weight-bold);
    color:var(--color-dark);
}

/*====== Heading 1 ======*/
h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    h1 {
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 25px;
    }
}
@media (min-width: 1200px) {

    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-bottom: 25px;
    }
}
/*====== Heading 2 ======*/
h2 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 25px;
}
@media (min-width: 576px) {
    h2 {
        font-size: 1.6rem;
        line-height: 3rem;
        margin-bottom: 25px;
    }
}
@media (min-width: 1200px) {
    h2 {
        font-size: 1.8rem;
        line-height: 3.1rem;
        margin-bottom: 25px;
    }
}
/*====== Paragraph ======*/
p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}
@media (min-width: 576px) {
    p {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 25px;
    }
}
/* ============================== Main =============================== */
/* ======= Header ======= */
header {
    max-width: var(--width-maximum);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin: 0px auto;
}
.logo {
    flex: 1;
    font-size: 1rem;
}
.logo img {
    width: auto;
    height: 18px;
}
.header__button a {
    font-size: 0.75rem;
    line-height: 0.75rem;
    background-color: var(--color-bg);
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--color-dark);
    box-shadow: var(--shadow-button);
    
}
.header__button a:hover {
    color: var(--color-body-text);
    transition: 0.5s;
    
}
@media (min-width: 992px) {
    .logo img {
        height: 22px;
    }
    .header__button a {
        font-size: 0.85rem;
        line-height: 0.85rem;
        padding: 12px 50px;  
    }
}
@media (min-width: 1200px) {
    header {
        min-height: 100px;
        padding: 50px 30px 0px 30px;
    }
    .logo img {
        height: 30px;
    }
    .header__button a {
        font-size: 0.85rem;
        line-height: 0.85rem;
        padding: 14px 70px;  
    }
}
/* ======= Hero Section ======= */
.hero {
    min-height: 100px;
    max-width: var(--width-maximum);
    padding: 0px 20px;
    margin: 0px auto;
}
.two__columns {
    min-height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two__columns > * {
    min-height: 100px;
}
.hero__content {
    text-align: center;
}
.hero__content p {
    color: var(--color-dark);
    padding: 0px 10px;
    margin-bottom: 35px;
}
.hero__content__wrapper {
    margin: 80px 0px;
}
.button {
    display: inline-block;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: var(--color-bg);
    background-color: var(--color-button);
    padding: 15px 70px;
    border-radius: 50px;
    box-shadow: var(--shadow-button);
}
.button:hover {
    background-color: var(--color-button-hover);
    transition: 0.5s;
}
.hero__image__bg {
    background-color: var(--color-hero);
    background-image: url(images/bg-hero-mobile.svg);
    background-repeat: no-repeat;

}
@media (min-width: 576px) {
    .hero__image img {
        padding: 0px 20px 50px 20px;
    }
}
@media (min-width: 786px) {
    .hero__content p {
        padding: 0px 70px;
    }
    .hero__image img {
        padding: 0px 70px 50px 70px;
    }
}
@media (min-width: 992px) {

    .two__columns {
        min-height: 600px;
        display: flex;
        flex-direction: row;
    }
    .two__columns > * {
        padding: 20px;
    }
    .hero__content {
        flex: 1.5;
        text-align: left;
        padding-right: 50px;
    
    }
    .hero__content p {
        padding: 0px 0px;
    }
    .hero__image {
        flex: 2;
    }
    .hero__image img {
        padding: 0px;
    }
    .button {
        font-size: 0.85rem;
        line-height: 0.85rem;
        background-color: var(--color-button);
        padding: 18px 70px;
    }

    .hero__image__bg {
        background-image: url(images/bg-hero-desktop.svg);
    
    }

}
/* ======= Card Sections ======= */
.card {
    max-width: var(--width-maximum);
    margin: 0px auto;
}
.card__container {
    max-width: var(--width-maximum);
    margin: 50px 20px;
    border-radius: 20px;
    box-shadow: var(--shadow-button);
}
.card__columns {
    min-height: 500px;
    display: flex;
    flex-direction: column;
} 
.card__columns > * {
    flex: 1;
    text-align: center;
    padding: 50px 30px;
}
.main__image {
    padding: 50px 30px 0px 30px;
}
.main__content h2 {
    margin-bottom: 15px;
}
@media (min-width: 576px) {
    .main__image {
        padding: 50px 100px 0px 100px;
    }
}
@media (min-width: 992px) {
    .card__columns {
        max-height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    } 
    .card__flip {
        flex-direction: row-reverse;
    }
    .main__content h2, p {
        text-align: left;
    }
    .main__image {
        padding: 0px;
    }

}
@media (min-width: 1200px) {
    .card__container {
        margin: 50px 80px;
        min-height: 100px;
    }
    .card__margin__top {
        margin-top: 150px;
    }
    .main__image {
        flex: 2;
        text-align: right;
    }
    .main__image img {
        width: 70%;
        margin-left: 150px;
        padding: 0px;
    }
    .card__image__right img {
        margin-left: 30px;
    }
    .main__content {
        flex: 1.5;
        padding: 100px 80px 100px 80px;
    }

}
/* ====== Sign Up Box ====== */
.signup__container{
    min-height: 80px;
}
.signup__box {
    background-color: var(--color-bg);
    min-height: 100px;
    padding: 40px 0px 60px 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: var(--shadow-button);
    margin: 0px 10px;
    transform: translateY(100px);
}
.signup__box h2 {
    font-size: 1.17rem;
}
@media (min-width: 786px) {
    .signup__box h2 {
        font-size: 1.7rem;
    }
    .button__large {
        padding: 25px 100px;
    }
}
@media (min-width: 992px) {
    .signup__box {
        max-width: 60%;
        margin: 0px auto;
    }
}
/* ====== Footer ====== */
footer {
    background-color: var(--color-footer-bg);
}
footer p {
    font-size: 0.85rem;
}
footer a {
    font-size: 0.85rem;
    font-weight: var(--weight-regular);
}
.footer__container {
    max-width: var(--width-maximum);
    margin: 0px auto;
}
.menu__underline:hover {
    border-bottom: 1px solid white;
    transition: 0.5s;
}
.footer__logo {
    min-height: 20px;
    padding: 180px 20px 20px 20px;
}
.footer__logo img{
    width: 200px
}
.footer__sections {
    display: flex;
    flex-direction: column;
} 
.footer__sections > * {
    min-height: 50px;
    flex: 1;
    padding: 20px 20px;
} 
.footer__area img {
    width: 17px;
    height: auto;
}
.footer__content {
    display: flex;
    flex-direction: column;
}
.footer__content p {
    margin-bottom: 20px;
}
.foot__content {
    display: flex;
}
.foot__text {
    margin-left: 20px;
    color: var(--color-bg);
}
.footer__content span {
    display: inline-block;
    margin-right: 20px;
}
.footer__padding-top {
    padding: 0px 20px 20px 20px;
}
.footer__padding-bottom {
    padding: 20px 20px 0px 20px;
}
.social__icons ul {
    text-align: center;
}
.social__icons li {
    display: inline-block;
}
.social__icons li:nth-of-type(2){
    margin: 0px 15px;
}
.social__icons i:hover {
    color: var(--color-button);
    transition: 0.5s;
}
.copyright {
    text-align: center;
    margin-bottom: -30px;
}
.copyright p {
    font-size: 0.75rem;
}
@media (min-width: 786px) {
    .footer__logo img{
        width: 150px
    }
    .footer__sections {
        flex-direction: row;
    } 
    .footer__content {
        flex: 2;
    }
    .foot__text {
        padding-right: 50px;
    }
    .footer__padding-top {
        padding: 0px;
    }
    .footer__padding-bottom {
        padding: 0px;
    }
    .social__icons li:nth-of-type(2){
        margin: 0px 10px;
    }
    .copyright p {
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .foot__text {
        padding-right: 120px;
    }
}